body {
  background-color: #003478;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue Condensed Bold", "Helvetica Neue", Arial,
    sans-serif;
  font-weight: bold;
}

@font-face {
  font-family: "Helvetica Neue Condensed Bold";
  src: url("/fonts/helvetica-neue-condensed-bold.woff2") format("woff2"),
    url("/fonts/helvetica-neue-condensed-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  height: 21.6rem;
  width: 24.4rem;
}

.map-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.map-container {
  position: relative;
}

.map-image {
  width: 100%;
  display: block;
}

.hotspot {
  position: absolute;
  background: rgba(255, 0, 0, 0); /* temporal para verlos */
  border: 1px solid rgba(92, 44, 44, 0); /* temporal */
  cursor: pointer;
  z-index: 10;
}

/* Panel flotante fijo (no bloqueante) */
.info-panel-floating {
  background-color: #253a69;
  color: #fff;
  padding: 6px;
  border-radius: 3px;
  width: 60px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  pointer-events: auto;
}

.info-panel-floating .titulo {
  font-family: "Helvetica Neue Condensed Bold", "Helvetica Neue", Arial,
    sans-serif;
  font-weight: 500;
  color: white;
  font-size: 0.6rem;
  margin: 0;
  /* margin-bottom: 0.4rem; */
  -webkit-text-stroke: 0;
}

.info-panel-floating .info {
  color: white;
  font-family: "Helvetica Neue Condensed Bold", "Helvetica Neue", Arial,
    sans-serif;
  font-weight: bold;
  font-size: 0.5rem;
  margin: 0;
}

.band {
  margin-top: 0.3rem;
}

.band img {
  height: 1rem;
  width: 23.4rem;
}

.foot {
  display: flex;
  padding: 0.5rem;
  gap: 4rem;
  z-index: 0;
  margin-top: 2rem;
}

.foot img {
  height: 4rem;
}

.foot p {
  font-size: 1.6rem;
  text-align: start;
  color: white;
  font-family: "Helvetica Neue Condensed Bold", "Helvetica Neue", Arial,
    sans-serif;
  font-weight: bold;
  line-height: 1.3rem;
  margin: 0;
  margin-top: 0.4rem;
  font-weight: 500;
}

.bosco {
  position: absolute;
  z-index: -1;
  top: auto;
  height: 9rem;
}

.informacion{
  display: flex;
  height: 10rem;
  background-color: aqua;
}
 
.informacion img{
  height: 7rem;
}