body {
  background-color: #253a69;
  justify-content: center;
  align-items: center;
}

html {
  height: 21.6rem;
  width: 24.4rem;
}

.map-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.map-container {
  position: relative;
}

.map-image {
  width: 100%;
  display: block;
}

.hotspot {
  position: absolute;
  background: rgba(255, 0, 0, 0); /* temporal para verlos */
  border: 1px solid rgb(92, 44, 44);          /* temporal */
  cursor: pointer;
  z-index: 10;
}

/* Panel flotante fijo (no bloqueante) */
.info-panel-floating {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  z-index: 9999;
}
